{% load static %}

<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Weather Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <body style="cursor: default;" class="">
        <script src="/static/script.js"></script>
        <section class="section" style="padding: 0px 0px 0px 0px; background-color:rgb(0,70,130)">
            <div class="container" style="margin-left: 3px">
                <img src="/static/surrey-logo.svg" width="144px" height="44px">
            </div>
        </section>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        The BEST Weather App you will ever encounter!
                    </h1>
                </div>
            </div>
        </section>
    
        <section class="hero is-info">
            <!-- Marquee element with an ID -->
            <marquee behavior="scroll" direction="left" id="cityinfo">Loading...</marquee>
        </section>
        <section class="section" style="background-image: url({% static 'metofficegovuk_heroXLarge.jpeg' %});">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        <!-- Adding the City Form --> 
                        <form method="POST" action="{% url 'index' %}">
                            {% csrf_token %}
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input class="input" name="name" type="text" placeholder="City Name">
                                </div>
                                <div class="control">
                                    <button class="button is-info">
                                        Add City
                                    </button>
                                </div>
                            </div>
                        </form>
                            <div style="margin-top: 20px;"></div>
                    <!-- Display success messages -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="notification is-success">
                                    <button class="delete"></button>
                                    <p>{{ message }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- Display error messages -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="notification is-danger">
                                    <button class="delete"></button>
                                    <p>{{ message }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        {% for city, data in weather_data.items %}
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is 64x64">
                                        <img src="{% static 'weather-icons/' %}{{ data.icon }}.png" alt="Weather Icon">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">{{ city }}</span><br>
                                            <span class="subtitle">Temperature: {{ data.temperature }}°C</span><br>
                                            Conditions: {{ data.conditions }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <form method="POST" action="{% url 'delete_city' city %}">
                                        {% csrf_token %}
                                        <button class="delete"></button>
                                    </form>
                                </div>
                            </article>
                        </div>
                        {% endfor %}                        
                    </div>
                </div>
            </div>
        </section>
            
        <hr style="border-top:2px solid #000000; margin-bottom:0px;">
        <footer class="footer has-background-info-light" style="padding-top: 20px;padding-bottom: 25px;">
        
        <div class="container">
            <div class="level">
              <div class="level-left">
                <span width="200" class="level-item">
                  Styled by &nbsp;<img src="https://bulma.io/images/bulma-logo.png" alt="Bulma Logo" width="60">
                </span>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <div class="content has-text-centered has-text-white-invert">©2024 A. Shethran</div>
                </div>
              </div>
            </div>
        </div>
        </footer>
    
    
    </body>
    </html>
